
 


<div class="container">
  <h1> Login Page!</h1>
  <form>
    <div class="form-group">
      <label for="name">User Name</label>
      <input type="text" class="form-control" name="username" required [(ngModel)]="UserName">
    </div>

    <div class="form-group">
      <label for="alterEgo">Password</label>
      <input type="text" class="form-control" name="password" [(ngModel)]="Password">
    </div>

    <button  class="btn btn-success" (click)="login()">Login</button>
    <button (click)="forgetPassword()" class="btn btn-link">Forget Password</button>

  </form>
  <div>
    
  </div>
</div>
<!-- <div>
  type="submit"
  <label>User Name</label>
  <input type="text" [(ngModel)]="UserName">
  <label>Password</label>
  <input type="password" [(ngModel)]="Password">
  <button (click)="login()">Login</button>
  <button (click)="forgetPassword()">Forget Password</button>
</div> -->
