<div class="container color-dark">
    <div class="col">
      <p>Add a bucket list item</p>
    </div>
    <div class="col">
      <p>Your bucket list</p>
    </div>
  </div>
  <div class="container color-light">
    <div class="col">
      <p class="sm">Type your product name and get vendors list</p>
  
      <form class="form-group">
        <input type="text" name="pid" class="form-control" [(ngModel)]="productName" placeholder="Add product name">
        <input type="submit" class="btn" (click)="search()" class="form-control" value="Search Vendors">
      </form>
      {{productName}}
    </div>
    <div class="col">
      <p class="life-container">
        Vendor's List to be displayed
      </p>
      <div *ngFor="let item of items">
            <p><b>Name : </b>{{item.name}}</p>
            <p><b>price : </b>{{item.price}}</p>
      </div>
      <p>{{mesage}}</p>
    </div>
  </div>